<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.examples.caique.examplesproject">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewexamples.lists.endlessList.EndlessScrollerActivity"
            android:label="@string/title_activity_endless_scroller"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.lists.endlessList.EndlessScrollerWithFilterActivity"
            android:label="@string/title_activity_endless_scroller_filter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.lists.expandableList.ExpandableListActivity"
            android:label="@string/title_activity_expandable_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.lists.expandableEndlessList.ExpandableEndlessListActivity"
            android:label="@string/title_activity_expandable_endless_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.lists.headerList.HeaderListActivity"
            android:label="@string/title_activity_header_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.lists.simpleList.ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.lists.simpleList.ListWithFilterActivity"
            android:label="@string/title_activity_list_filter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.lists.simpleList.ListWithBottomActivity"
            android:label="@string/title_activity_list_bottom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.databinding.DataBindingActivity"
            android:label="@string/title_activity_data_binding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.detail.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.bottom.BottomSheetActivity"
            android:label="@string/title_activity_bottom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewexamples.grid.GridActivity"
            android:label="@string/title_activity_grid_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".viewexamples.grid.ImageFullActivity" />
        <activity
            android:name=".viewexamples.tabs.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".viewexamples.progressCustom.CustomProgressActivity"></activity>
    </application>

</manifest>